*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height:fit-content
}

nav img{
    width: 100px;
    height: 100px;
}

.contenedor-principal{
    width: 100%;
    max-height: fit-content;
}

.carousel-local{
   
        width: 100%;
        height: 415px;
}

.contenedor-items-local {
    width: 100%;
    height: 415px; 
  }
  .carousel-item-local img {
    width: 100%; 
    height: 100%; 
    object-fit:contain; 
  }

  .link-vermas{
    text-decoration: none;
    color: var(--color-1);
    
}
.link-vermas:hover{
    color: var(--negro);
    
  }

  .box-categoria{
    background-color: var(--negro);
    border-radius: 25px;
  }
  .box-categoria h2{
    color: var(--blanco);
  }
  .box-categoria button{
    background-color: var(--color-1);
    color: var(--blanco);
  }
  .box-categoria button:hover{
    background-color: var(--blanco);
    border: 1px solid var(--color-1);
    color: var(--negro);
  }
  .box-categoria a{
    border: 1px solid var(--color-1);
    color: var(--blanco);
  }
  .box-categoria a:hover{
    border: 1px solid var(--color-1);
    background-color: var(--blanco);
    color: var(--negro);
  }
.footer{
    display: flex;
    border-top: 1px solid var(--negro);
    background-color: var(--negro);
    padding: 5px;
    justify-content: space-evenly;
}

.footer-principio,.footer-fin{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer li{
    color: var(--blanco);
    list-style: none;
}
.footer a{
    color: var(--color-1);
    text-decoration: none;
}
.footer a:hover{
    color: var(--blanco);
    text-decoration: none;
}
.footer-medio{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}